* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #ffffff;
  width: 70%;
  margin: 2.5rem auto;
  padding: 2.5rem 1.25rem 1.875rem 1.25rem;
  border-radius: 0.625rem;
}

h1,
h2 {
  color: #1b1b1b;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

figcaption {
  color: #8f8f8f;
  text-align: right;
}

footer p {
  color: #8f8f8f;
  text-align: center;
}

figcaption,
footer p {
  font-size: 0.75rem;
}

li,
p {
  color: #39393a;
  font-size: 1rem;
  line-height: 1.625rem;
}

ul,
ol {
  list-style-position: inside;
}

img {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 0.625rem;
}
